@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.cardapio {
    width: 800px;  
    margin: 0 auto; 
  }
  
  .linha-pizzas {
    display: flex;  
    justify-content: space-between; 
  }
  
  .pizza {
    width: 400px;  
    margin: 10px;  
    text-align: center;  
     border-radius: 50px;
  }
  
  .pizza img {
    display: block; 
    margin: 0 auto;  

  }
  
  button#Pedir {
    margin: 10px;
    background-color: #8E2424;
    color: #FFF;
  }

  footer{
    position: fixed;
    bottom: 0;
    left: 25;
  }

  #carrinho{
    background:#8E2424;
    width: 100%;
    z-index: 2;


  }

  .icon{
    width: 4rem;
  }

  .valor{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  

  